<a href="https://colab.research.google.com/github/alidaud1/Python/blob/main/Python_Practice_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
''' 1. Enter three numbers and find largest and smallest '''

number1 = int(input('Enter First number : '))
number2 = int(input('Enter Second number : '))
number3 = int(input('Enter Third number : '))
def largest(num1, num2, num3):
    if (num1 > num2) and (num1 > num3):
        largest_num = num1
    elif (num2 > num1) and (num2 > num3):
        largest_num = num2
    else:
        largest_num = num3
    print("The largest of the 3 numbers is : ", largest_num)
def smallest(num1, num2, num3):
    if (num1 < num2) and (num1 < num3):
        smallest_num = num1
    elif (num2 < num1) and (num2 < num3):
        smallest_num = num2
    else:
        smallest_num = num3
    print("The smallest of the 3 numbers is : ", smallest_num)
largest(number1, number2, number3)
smallest(number1, number2, number3)

Enter First number : 23
Enter Second number : 45
Enter Third number : 22
The largest of the 3 numbers is :  45
The smallest of the 3 numbers is :  22

In [ ]:
''' 2. Find the given year is leap year or not '''

year = int(input("Enter a year: "))

if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

Enter a year: 2000
2000 is a leap year

In [ ]:
''' 3. Make a grade card using following grade sheet. '''

obtained_marks = int(input("Enter your obtained marks: "))
print("Your marks are ", obtained_marks)
if (obtained_marks >= 88 and obtained_marks <= 100):
  print("You have A grade.")
elif (obtained_marks >= 81 and obtained_marks <= 87):
  print("You have B+ grade.")
elif (obtained_marks >= 74 and obtained_marks <= 80):
  print("You have B grade.")
elif (obtained_marks >= 67 and obtained_marks <= 73):
  print("You have C+ grade.")
elif (obtained_marks >= 60 and obtained_marks <= 66):
  print("You have C grade.")
elif (obtained_marks < 60):
  print("Sorry, You have F grade.")
else:
  print("Invalid")

Enter your obtained marks: 90
Your marks are  90
You have A grade.

In [ ]:
''' 4. Take 3 numbers from user and print them in reverse order?
      (Without using loop) Example 123 and output 321 '''

num = int(input("Enter a 3-digit number: ")) 
num_r = str(num)
num_r = num_r[::-1]
num = int(num_r)
print("Reversed of your entered number is ",num)

Enter a 3-digit number: 153
Reversed of your entered number is  351

In [ ]:
''' 5. Enter age of person in years and convert in months '''

your_Age = int(input("Enter your age: "))
months_in_Year = int(12)
your_Age_in_Months = int(your_Age * months_in_Year)
print("Your age is ",your_Age," years.")
print("Your age in months is ",your_Age_in_Months," months.")

Enter your age: 22
Your age is  22  years.
Your age in months is  264  months.

In [ ]:
''' 6. Enter two variable values and swap them without using third variable?
       Example a=10, b=20 after swap a=20, b=10'''

num_A = int (input("Enter the first number: "))
num_B = int (input("Enter the second number: "))
print("The first number before swap is ",num_A)
print("The second number before swap is ",num_B)
num_A = (num_A + num_B)
num_B = (num_A - num_B)
num_A = (num_A - num_B)
print("The first number after swap is: ",num_A)
print("The Second number after swap is: ",num_B)

Enter the first number: 1
Enter the second number: 5
The first number before swap is  1
The second number before swap is  5
The first number after swap is:  5
The Second number after swap is:  1

In [5]:
''' 7.Write a program in which user enters a range then tell even numbers in
      this range and at end show smallest and largest value entered by user '''

start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))
for num in range(start, end + 1):
	if num % 2 == 0:
		print(num, end = " ")
print("\nSmallest value entered by user is:",start)
print("Largest value entered by user is:",end)

Enter the start of range: 2
Enter the end of range: 22
2 4 6 8 10 12 14 16 18 20 22
Smallest value entered by user is: 2
Largest value entered by user is: 22

In [9]:
'''8. Show prime number from 1 to 50 also counts, how many prime numbers in 
      mention range and also take product of all prime number '''

num_S_range = int(input("Enter the starting range number: "))
num_E_range = int(input("Enter the ending range number: "))
product = 1
count = 0
print("Prime numbers between", num_S_range, "and", num_E_range, "are:")
for num in range(num_S_range, num_E_range + 1):
   if num > 1:
    for i in range(2, num):
      if (num % i) == 0:
        break
    else:
     print(num , end=" ")
     count = count+1
     product = num*product   
print("\nThe total prime numbers between", num_S_range, "and", num_E_range, "are:",count)   
print("The product of prime numbers between", num_S_range, "and", num_E_range, "are:",product)

Enter the starting range number: 1
Enter the ending range number: 50
Prime numbers between 1 and 50 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47
The total prime numbers between 1 and 50 are: 15
The product of prime numbers between 1 and 50 are: 614889782588491410